<div class="container">
    <h2>Events</h2>
    <h3>Heute</h3>

    <app-care-instruction></app-care-instruction>
    <app-care-instruction></app-care-instruction>
    <app-care-instruction></app-care-instruction>

    <h3>Morgen</h3>

    <app-care-instruction></app-care-instruction>
    <app-care-instruction></app-care-instruction>
    <app-care-instruction></app-care-instruction>


    <div fxLayoutAlign="center">
        <button mat-raised-button><mat-icon color="primary">calendar_today</mat-icon>Kalender</button>
    </div>
</div>
