<!-- TODO: statt div evtl. ng-container -->
<div *ngIf="currPlant" class="plantinfoComponent">
    <div class="header">
        <mat-icon aria-hidden="true" aria-label="Icon Information">info_outline</mat-icon>
        <h1>Pflanze</h1>
    </div>
    <hr>
    <div class="wrapper">
        <div class="leftInfo">
            <img src={{currPlant?.imageUrl}}>
            <div class="icon-row" *ngIf="!editMode">
                <mat-icon [ngClass]="{'lightgray-icon': currPlant.wateramount < 1}" aria-hidden="false"
                    aria-label="Icon Information">water_drop</mat-icon>
                <mat-icon [ngClass]="{'lightgray-icon': currPlant.wateramount < 2}" aria-hidden="false"
                    aria-label="Icon Information">water_drop</mat-icon>
                <mat-icon [ngClass]="{'lightgray-icon': currPlant.wateramount < 3}" aria-hidden="false"
                    aria-label="Icon Information">water_drop</mat-icon>
            </div>
            <div class="icon-row" *ngIf="!editMode">
                <mat-icon [ngClass]="{'lightgray-icon': currPlant.sunamount < 1}" aria-hidden="false"
                    aria-label="Icon Information">sunny</mat-icon>
                <mat-icon [ngClass]="{'lightgray-icon': currPlant.sunamount < 2}" aria-hidden="false"
                    aria-label="Icon Information">sunny</mat-icon>
                <mat-icon [ngClass]="{'lightgray-icon': currPlant.sunamount < 3}" aria-hidden="false"
                    aria-label="Icon Information">sunny</mat-icon>
            </div>
        </div>
        <ng-container *ngIf="currPlant && !editMode; else editModeTemplate">
            <div class="row header">
                <p>{{currPlant.name}}</p>
                <button mat-icon-button class="icon-button" (click)="setEditMode(true)"
                    aria-label="Pflanzeneintrag bearbeiten">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <app-infotext class="main"></app-infotext>
        </ng-container>
    </div>
</div>

<ng-template #editModeTemplate>
    <!-- hier kommt eigentlich die app-add-plant component hin-->
    <form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">
        <div class="row header">
            <p>{{currPlant?.name}}</p>
            <button mat-icon-button class="icon-button innerBtn" aria-label="Pflanzeneintrag bearbeiten" type="submit" [disabled]="formGroup.invalid">
                <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button class="icon-button" aria-label="Pflanzeneintrag bearbeiten" (click)="setEditMode(false)">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Neuer Name</mat-label>
            <input matInput type="text" name="ownName" formControlName="ownName">
            <mat-hint align="start">Maximal 20 Zeichen.</mat-hint>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Startdatum</mat-label>
            <input matInput type="date" name="startDate">
            <mat-hint align="start">Wählen Sie einen Termin für die erste Erinnerung.</mat-hint>
        </mat-form-field>
    </form>
</ng-template>