<!-- TODO: statt div evtl. ng-container -->
<div *ngIf="currPlant" class="plantinfoComponent">
    <div class="header">
        <mat-icon aria-hidden="true" aria-label="Icon Information">info_outline</mat-icon>
        <h1>{{'TITLE.PLANT' | translate}}</h1>
    </div>
    <hr>
    <div class="wrapper">
        <div class="leftInfo">
            <img src={{currPlant.imageUrl}}>
            <div class="icon-row" *ngIf="!editMode">
                <mat-icon [ngClass]="{'lightgray-icon': currPlant.wateramount < 1}" aria-hidden="false"
                    aria-label="Icon Information">water_drop</mat-icon>
                <mat-icon [ngClass]="{'lightgray-icon': currPlant.wateramount < 2}" aria-hidden="false"
                    aria-label="Icon Information">water_drop</mat-icon>
                <mat-icon [ngClass]="{'lightgray-icon': currPlant.wateramount < 3}" aria-hidden="false"
                    aria-label="Icon Information">water_drop</mat-icon>
            </div>
            <div class="icon-row" *ngIf="!editMode">
                <mat-icon [ngClass]="{'lightgray-icon': currPlant.sunamount < 1}" aria-hidden="false"
                    aria-label="Icon Information">sunny</mat-icon>
                <mat-icon [ngClass]="{'lightgray-icon': currPlant.sunamount < 2}" aria-hidden="false"
                    aria-label="Icon Information">sunny</mat-icon>
                <mat-icon [ngClass]="{'lightgray-icon': currPlant.sunamount < 3}" aria-hidden="false"
                    aria-label="Icon Information">sunny</mat-icon>
            </div>
        </div>
        <ng-container *ngIf="currPlant && !editMode; else editModeTemplate">
            <div class="row header">
                <p>{{currPlant.name}}</p>
                <button mat-icon-button class="icon-button" (click)="setEditMode(true)"
                    aria-label="Pflanzeneintrag bearbeiten">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <p class="main">{{currPlant.long_desc}}</p>

          <!--  <app-infotext class="main"></app-infotext>-->
        </ng-container>
    </div>
</div>

<ng-template #editModeTemplate>
    <form [formGroup]="myGroup" (ngSubmit)="onFormSubmit()">
        <div class="row header">
            <p>{{currPlant.name}}</p>
            <button mat-icon-button class="icon-button innerBtn" aria-label="Daten abschicken" type="submit" [disabled]="myGroup.invalid">
                <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button class="icon-button" aria-label="Hinzufügen oder Bearbeiten abbrechen" (click)="setEditMode(false)">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <app-edit-plant [currentFormGroup]="myGroup"></app-edit-plant>
    </form>
</ng-template>