p {
    font-size: medium;
    line-height: 150%;
}

.plantinfoComponent {
    margin: 0 15%;
}


hr {
    border: 0;
    border-top: 1px solid gray;
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 0;
}

.header {
    display: flex;
    align-items: center;

    ::ng-deep .mat-icon {
        margin-right: 10px;
        fill: 0;
    }
}

.content {
    display: flex;
}

.lightgray-icon {
    color: lightgray;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
    align-items: baseline;

    .innerBtn {
        margin-left: auto;
    }
}

.icon-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

img {
    width: 200px;
    border-radius: 10%;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
}

.leftInfo {
    grid-area: sidebar;
}

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main"
        "sidebar main main main"
        "sidebar info info info";
}

//Die form field sachen sind eigentlich im css der anderen komponente
::ng-deep .mat-form-field {
    margin-right: 50px;
}

@media screen and (max-width: 600px) {
    .plantinfoComponent {
        margin: 0 10px;
    }

    .wrapper {
        display: grid;
        gap: 20px;
        grid-template-areas:
            "sidebar header"
            "sidebar main";
    }
    

    ::ng-deep .mat-form-field {
        margin-right: 0px;
        width: auto;
    }

    img{
        width: 100px;
    }
}