hr {
    border: 0;
    border-top: 1px solid gray;
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 0;
}

.header {
    display: flex;
    align-items: center;

    ::ng-deep .mat-icon {
        margin-right: 10px;
        fill: 0;
    }
}

.content {
    display: flex;
}

.lightgray-icon {
    color: lightgray;
}

.info-right {
    margin-left: 15px;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 40px;
        width: 100%;
        gap: 15px;
    }

    .btnRow {
        align-items: baseline;
        margin-bottom: 0;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    width: 100%;
    gap: 15px;
}

.btnRow {
    align-items: baseline;
    margin-bottom: 0;
}

.icon-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

img {
    width: 100px;
    border-radius: 10%;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.leftInfo {
    grid-area: sidebar;
}

.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}