<div class="header">
    <mat-icon aria-hidden="true" aria-label="Icon Information">info_outline</mat-icon>
    <h1>Alle Pflanzen</h1>
</div>
<hr>
<div class="content">
    <div>
    <img src="https://www.mein-schoener-garten.de/sites/default/files/roter-gluecksklee-oxalis-triangularis-14397-blumenbuero.jpg">
        <div class="icon-row">
            <mat-icon aria-hidden="false" aria-label="Icon Information">water_drop</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Icon Information">water_drop</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Icon Information">water_drop</mat-icon>
        </div>
        <div class="icon-row">
            <mat-icon aria-hidden="false" aria-label="Icon Information">sunny</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Icon Information">sunny</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Icon Information">sunny</mat-icon>
        </div>
    </div>

    <div class="info-right">
        <div class="row btnRow">
            <p class="header">Pflanzenname</p>
            <button mat-icon-button class="icon-button rightBtn"
                aria-label="Pflanzeneintrag bearbeiten">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <p class="infotext">Lorem ipsum text</p>
    </div>
</div>