<div *ngIf="plant" class="wrapper">
    <img *ngIf="plant.plant_id" class="plantImage" src={{imgPath}}>
       <ng-container *ngIf="type === 'all'; else personalPlants">
        <div class="header">
            <h4 (click)="openPlant(plant.name, false)">{{plant.name}}</h4>
            <button mat-icon-button class="icon-button innerBtn" aria-label="Pflanze zu eigenen Pflanzen hinzufügen"
                (click)="openPlant(plant.name, true)">
                <mat-icon aria-hidden="false">add</mat-icon>
            </button>
            <button mat-icon-button class="icon-button" aria-label="Weitere Informationen"
                (click)="openPlant(plant.name, false)">
                <mat-icon aria-hidden="false">information</mat-icon>
            </button>
        </div>
        <p class="content">{{plant.short_desc}}</p>
    </ng-container>
</div>

<ng-template #personalPlants>
    <div class="header">
        <h4 (click)="openPlant(plant.name, false)">{{plant.name}}</h4>
        <button mat-icon-button class="icon-button innerBtn" aria-label="Pflanzeneintrag bearbeiten"
            (click)="edit(plant.name, plant.ownName!, plant.nextWateringDay!)">
            <mat-icon aria-hidden="false">edit</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" aria-label="Weitere Informationen"
            (click)="delete(plant.ownName!)">
            <mat-icon aria-hidden="false">delete</mat-icon>
        </button>
    </div>
    <div class="content">
        <p>Name: {{plant.ownName}}</p>
        <p>{{'MY_PLANTS.NEXT_WATERING' | translate}} {{ 'MY_PLANTS.' + nextWateringDay | translate }}</p>
    </div>
</ng-template>