.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    align-items: baseline;
    justify-content: space-between;
    grid-area: header;
    width: 300px;
}

button {
    width: 20px !important;
}

.innerBtn {
    margin-left: auto;
}

.plantImage {
    grid-area: sidebar;
}

.content {
    font-size: small;
    grid-area: content;
}

.wrapper {
    margin-bottom: 10px;
    display: grid;
    grid-column-gap: 15px;
    grid-template-areas: 
        "sidebar header"
        "sidebar content"
        "sidebar content"        
        "sidebar content"
        "sidebar content"
        "sidebar content"
        "sidebar content";
    width: 465px;
    justify-content: flex-start;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

h3 {
    font-size: large;
    cursor: pointer;
}


::ng-deep .mat-icon{
    font-size:20px !important;
    z-index: 0;
}


@media screen and (max-width: 800px) {
    .header {
        width: 200px;
    }

    .content {
        width: 220px;
    }

}

@media screen and (max-width: 400px) {
    .wrapper {
        width: 300px;
    }

    .header {
        width: 200px;
    }

    img{
        width: 100px;
        height: 100px;
    }
}
