<div *ngIf="plant && index" [ngClass]="{'row': true, 'imgRight': index % 2 === 0}">
    <img src={{plant.imageUrl}}>
    <div>
        <div class="row btnRow">
            <p class="header" [routerLink]="['/plant', plant.name]">{{plant.name}}</p>
            <button mat-icon-button class="icon-button" [ngClass]="{'hidden': site!='my_plants', 'rightBtn': true}"
                aria-label="Pflanzeneintrag bearbeiten">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="icon-button" [ngClass]="{'hidden': site!='all_plants', 'rightBtn': true}"
                aria-label="Pflanze zu eigenen Pflanzen hinzufügen">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button class="icon-button" [ngClass]="{'hidden': site!='my_plants'}"
                aria-label="Pflanze favorisieren">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="icon-button" [ngClass]="{'hidden': site!='all_plants'}"
                aria-label="Weitere Informationen">
                <mat-icon>information</mat-icon>
            </button>
        </div>
        <p class="infotext">{{plant.infotext}}</p>
    </div>
</div>