.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.btnRow {
    align-items: baseline;
    justify-content: space-between;
}

button {
    width: 20px !important;
}

.innerBtn {
    margin-left: auto;
}

.header {
    grid-area: header;
}

.plantImage {
    grid-area: sidebar;
}

.content {
    font-size: smaller;
    grid-area: content;
}

.wrapper {
    margin-bottom: 10px;
    display: grid;
    grid-column-gap: 5px;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
    //width: 320px;
}

img {
    width: 100px;
    border-radius: 10%;
}

::ng-deep .mat-icon{
    height:20px !important;
    width:20px !important;
    font-size:20px !important;
}