.toolbar {
    color: var(--color-three);
    display: flex;
    align-items: center;
    z-index: 5;

    .header {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-secondary);
        z-index: 5;


        .logo {
            height: 50px;
            cursor: pointer;
        }

        .right-site {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    .menu {
        display: flex;
        justify-content: space-around;
        height: 35px;
        background-color: var(--color-accent);
        color: var(--color-secondary);

        span {
            font-size: large;
            cursor: pointer;
        }

        span:hover {
            color: var(--color-primary);
        }
    }
}

.search-bar {
    margin-top: 10px;
}

::ng-deep .mat-button-toggle {
    background-color: var(--color-primary);
    color: var(--color-font);
}

::ng-deep .mat-button-toggle-checked {
    background-color: var(--color-primary);
    color: var(--color-font);
}

.language {
    font-size: small;
}

.dropdown:hover .dropdown-content {
    display: block;
}

::ng-deep .mat-icon {
    font-size: 20px !important;
}

@media screen and (max-width: 600px) {
    .toolbar {
        .menu {
            flex-direction: column;
            height: 200px;
            align-items: flex-start;
        }

        .menu-row {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {

    .language,
    .darkmode-button,
    .search-bar {
        display: none;
    }
}


@media screen and (max-width: 400px) {
    .logo {
        width: 100px;
        height: 20px;
    }
}


@media screen and (min-width: 600px) {
    .mobile-mode {
        display: none;
    }

    .toolbar {
        .header {
            position: fixed;

        }

        .menu {
            position: fixed;
            margin-top: 64px;
            z-index: 5;
        }
    }
}