.toolbar {
    background-color: var(--color-secondary);
    color: var(--color-three);
    display: flex;
    align-items: center;
    position: fixed;


    .header {
        display: flex;
        justify-content: space-between;

        .logo {
            height: 50px;
        }    

        .right-site{
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    
    .menu {
        display: flex;
        justify-content: space-around;
        height: 40px;
        margin-top: 10px;
        background-color: var(--color-accent);
        color: var(--color-primary);
        font-style: bold;
        font-size: larger;
        z-index: 5;

        a {
            all: unset;
            font-size: medium;
            font-weight: 100;
            cursor: pointer;
        }

        a:hover {
            color: var(--color-secondary);
        }
    }
}

::ng-deep .mat-button-toggle {
    background-color: var(--color-primary);
  }

  ::ng-deep  .mat-button-toggle-checked {
    background-color: var(--color-primary);
  }

.language {
    font-size: small;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-three);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul {
    list-style: none;
}

::ng-deep .mat-icon{
    font-size:20px !important;
    color: black;
}
@media screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
        height: 200px;
        align-items: flex-start;
    }

    .menu-row {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .menu-icon {
        display: none;
    }
}