<div class="accordion-container" *ngrxLet="events$; let events">
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node">
      <!-- use a disabled button to provide padding for tree leaf -- Hier besser paddig rein später !!!!!! -->
      <button mat-icon-button disabled></button>
      {{node.name}}
    </mat-tree-node> 
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node class="parent" *matTreeNodeDef="let node;when: hasChild">
      {{node.name}}
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'remove_circle_outline' : 'add_circle_outline'}}
        </mat-icon>
      </button>
    </mat-tree-node> 
</mat-tree>

<ng-container *ngIf="events && events.length > 0; else noOwnPlants">
  <ng-container *ngFor="let singleEvent of events; let i = index">
      <p>{{singleEvent.plant_id}} id {{singleEvent.nextWateringDay}} date {{singleEvent.ownName}} name {{singleEvent.weekday}}</p>
      <!--<app-plant-detail [event]="singleEvent" class="singleEvent" (plantDeleted)="onPlantDelete()"></app-plant-detail> -->
  </ng-container>
</ng-container>

<ng-template #noOwnPlants>
  <h4>{{'HINT.NO-PLANTS' | translate}}</h4>
  <button mat-raised-button color="primary" [routerLink]="'/all'">{{'BUTTON.OVERVIEW' | translate}}</button>
</ng-template>
</div>