<form class="search-bar">
    <mat-form-field class="example-full-width" appearance="fill">
        <input matInput type="text" placeholder="Nach einer Pflanze suchen" aria-label="Suche" [formControl]="filter"
            [matAutocomplete]="auto">
        <mat-autocomplete #auto=matAutocomplete (optionSelected)="openPlant($event.option.value)">
            <mat-option *ngFor="let plant of filteredPlants$ | async" [value]="plant" #matOption>
                {{plant}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>