<p>
    <mat-toolbar class="toolbar">
        <mat-toolbar-row class="header">
            <span [routerLink]="'/'">PlanT</span>
            <button mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="this.menuOpen" class="menu">
            <a [routerLink]="'/meine-pflanzen'">{{ 'MENU.OWN-PLANTS' | translate }}</a>
            <a [routerLink]="'/alle-pflanzen'">{{ 'MENU.ALL-PLANTS' | translate }}</a>
            <a>{{ 'MENU.CALENDAR' | translate }}</a>
            <a>{{ 'MENU.SETTINGS' | translate }}</a>
            <a>{{ 'MENU.LOG-OUT' | translate }}</a>
        </mat-toolbar-row>
    </mat-toolbar>

</p>
<router-outlet class="content"></router-outlet>
<router-outlet></router-outlet>
<app-login></app-login>
