<p>
    <mat-toolbar class="toolbar">
        <mat-toolbar-row class="header">
            <span [routerLink]="'/'">PlanT</span>
            <button mat-icon-button *ngIf="showMenue()" class="example-icon" aria-label="Example icon-button with menu icon"
                (click)="toggleMenu()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="this.menuOpen" class="menu">
            <a [routerLink]="'/meine-pflanzen'">{{ 'MENU.OWN-PLANTS' | translate }}</a>
            <a [routerLink]="'/alle-pflanzen'">{{ 'MENU.ALL-PLANTS' | translate }}</a>
            <a [routerLink]="'/mein-kalender'">{{ 'MENU.CALENDAR' | translate }}</a>
            <div class="dropdown">
                <span><a>{{ 'MENU.SETTINGS' | translate }}</a></span>
                <div class="dropdown-content">
                    <ul>
                        <li><a (click)="chooseLanguage('en')">English</a></li>
                        <li><a (click)="chooseLanguage('de')">Deutsch</a></li>
                        <li><a id="btn-dark-theme" (click)="onBtnClick()">
                                Dark Mode</a>
                        </li>
                    </ul>
                </div>
            </div>     
            <a>{{ 'MENU.LOG-OUT' | translate }}</a> 
        </mat-toolbar-row>
    </mat-toolbar>

</p>

<router-outlet class="content"></router-outlet>
<router-outlet></router-outlet>
