<div class="plantlistComponent">
    <h1>{{title | translate}}</h1>
    <hr>
    <div class="row">
        <ng-container *ngIf="plants && plants.length > 0; else noOwnPlants">
            <ng-container *ngFor="let specificPlant of plants; let i = index">
                <app-plant-detail [plant]="specificPlant" class="plantDetail"></app-plant-detail>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #noOwnPlants>
    <h4>{{'HINT.NO-PLANTS' | translate}}</h4>
    <button mat-raised-button color="primary" [routerLink]="'/alle-pflanzen'">{{'BUTTON.OVERVIEW' | translate}}</button>
</ng-template>

<ng-container *ngFor="let action of (actions$ |async)">

</ng-container>