.plantlistComponent {
    margin: 0 15%;
}

.underline {
    border-bottom: 1px solid black;
    width: 100%;
    display: block;
}

hr {
    border: 0;
    border-top: 1px solid gray;
    margin-bottom: 20px;
}

.row {
   // width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .row {
        grid-template-columns: 1fr;
        justify-items:normal;
    }

    .plantlistComponent {
        margin: 0 10px;
    }
}