<div class="loginContainer">
  <h2>{{'TITLE.LOGIN' | translate}}</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline" color="var(--color-font)">
        <mat-label for="username">{{'FORM.USERNAME' | translate}}</mat-label>
        <input matInput formControlName="username" placeholder="Type your username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label for="password">{{'FORM.PASSWORD' | translate}}</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Type your password">
      </mat-form-field>
    </div>
    <div class="btn">
      <button mat-raised-button color="primary">{{'BUTTON.LOGIN' | translate}}</button>
      <p>{{'INFO.GO_TO_REGISTRATION' | translate}}</p>
      <button mat-raised-button color="primary" (click)="navigateRegistration()">{{'BUTTON.REGISTRATE' |
        translate}}</button>
    </div>
  </form>
</div>